<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 3</title>
    <script type="text/javascript" src="js/as2.js"></script>
    <link rel="stylesheet" type="text/css" href="css/as2.css">
</head>