<!--Zalak Patel-->
<%- include('layouts/header'); %>

<body>
    <form name="form" method="POST" onsubmit="return formSubmit();" action=" ">
        <label for="name">Name</label>
        <input name="name" id="name" type="text"><br />
        <!-- <label class="error" id="nameError"></label><br/>-->

        <label for="address">Adress</label>
        <input name="address" id="address" type="text"><br />
        <!-- <label class="error" id="adressError"></label><br/>-->

        <label for="city">City</label>
        <input name="city" id="city" type="text"><br />
        <!-- <label class="error" id="cityError"></label><br/>-->

        <label for="province">Province</label>
        <select name="province" id="province">
            <option value="">----- Select -----</option>
            <option value="ON">ON</option>
            <option value="NL">NL</option>
            <option value="PE">PE</option>
            <option value="NS">NS</option>
            <option value="NB">NB</option>
            <option value="QC">QC</option>
            <option value="MB">MB</option>
            <option value="SK">SK</option>
            <option value="AB">AB</option>
            <option value="BC">BC</option>
            <option value="YT">YT</option>
            <option value="NT">NT</option>
            <option value="NU">NU</option>
        </select><br />
        <!-- <label class="error" id="provinceError"></label><br/>-->

        <label for="email">Email</label>
        <input name="email" id="email" type="text"><br />
        <!-- <label class="error" id="emailError"></label><br/>-->

        <label for="phoneNumber">Phone Number</label>
        <input name="phoneNumber" id="phoneNumber" type="text"><br />

        <label for="password">Password</label>
        <input name="password" id="password" type="password"><br />
        <!-- <label class="error" id="passwordError"></label><br/>-->

        <label for="confirmPassword">Confirm Password</label>
        <input name="confirmPassword" id="confirmPassword" type="password"><br />
        <!-- <label class="error" id="confirmPasswordError"></label><br/>-->

        <label id="lb1">Mango Chunks: 8$</label>
        <select id="quantity1" name="quantity1">
            <option value="0">---Select---</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br />

        <label id="lb2">Fresh Topica: 10$</label>
        <select id="quantity2" name="quantity2">
            <option value="0">---Select---</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select> <br />

        <label id="lb3">Lemon Tea: 6$</label>
        <select id="quantity3" name="quantity3">
            <option value="0">---Select---</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select><br />
    <!-- <label class="error" id="teaError"></label><br />-->

        <label>Payment Method:</label>
        <input class="radioInput" type="radio" value="credit" id="radio1" name="payment"><label for="radio1"
            class="radioLabel">Credit Card</label>
        <input class="radioInput" type="radio" value="debit" id="radio2" name="payment"><label for="radio2"
            class="radioLabel">Debit Card</label><br />
        <!-- <label class="error" id="paymentError"></label><br/>-->

        <label for="cardNumber">Card Number</label>
        <input name="cardNumber" id="cardNumber" type="text"><br />
        <!-- <label class="error" id="cardNumberError"></label><br/>-->

        <input class="submit" type="submit" value="Submit">
        <p>
            <% 
                if(typeof(errors) != 'undefined'){
                   for(var error of errors){
                %>
        <p id="errors"><%= error.msg %></p>
        <%   
                   } 
                }
             %>
        </p>
    </form>

    <div class="formData">
        <% 
           if(typeof(zptaxtotalCost) != 'undefined'){
               %>
        <p id="formResult">Receipt:</p>
        <table>
            <tr>
                <th>Name:</th>
                <td><%= zpname %></td>
            </tr>
            <tr>
                <th>Adress:</th>
                <td><%= zpaddress %></td>
            </tr>
            <tr>
                <th>City:</th>
                <td><%= zpcity %></td>
            </tr>
            <tr>
                <th>Province:</th>
                <td><%= zpprovince %></td>
            </tr>
            <tr>
                <th>Email:</th>
                <td><%= zpemail %></td>
            </tr>
            <tr>
                <th>Phone Number:</th>
                <td><%= zpphoneNumber %></td>
            </tr>
            <tr>
                <th>MangoChunks:</th>
                <td>$<%= cost1 %></td>
            </tr>
            <tr>
                <th>FreshTopica:</th>
                <td>$<%= cost2 %></td>
            </tr>
            <tr>
                <th>LemonTea:</th>
                <td>$<%= cost3 %></td>
            </tr>
            <tr>
                <th>Total:</th>
                <td>$<%= zptaxtotalCost.toFixed(2) %></td>
            </tr>
        </table>
        <%
            }
            %>

    </div>

    </form>
</body>
<%- include('layouts/footer'); %>