html{
    background: linear-gradient(to top, rgb(118, 236, 172), 60%, rgb(120, 201, 220));
}
body{
    font-size: 20px;
}
form, .formData{
    width: 530px;
    border: 3px solid #5E5655;
    padding: 30px;
    margin: 70px auto;
    background-color: #dda1a1;
    border-radius: 15px;
    box-shadow: 
    inset 0 -5em 3em rgba(0,0,0,0.1), 
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.formData{
    color:#0B1687;
    background-color: darkgrey;
    text-align: center;
}
.formData table{
    text-align: center;
}
.formData th{
    text-align: right;
    padding-left: 80px;
}
.formData td{
    text-align: left;
    padding: 5px 10px;
}
label{
    color:#0B1687 ;
    width: 170px;
    display: inline-block;
    font-size: 22px;
    padding: 5px;
    font-family: serif;
}
.error{
    color:  #d12511;
    text-align: right;
    font-size: 20px;
    width: 500px;
}
.radioInput{
    display: inline-block;
    width: 15px;
    vertical-align: sub;
}
.radioLabel{
    width: auto;
}
input{
    width: 320px;
    height: 25px;
    margin-top: 10px;
    font-size: 20px;
}
#province{
    height: 30px;
    width: 138px;
    margin-top: 10px;
    font-family: serif;
    font-size: 17px;
}
#quantity1, #quantity2, #quantity3{
    height: 30px;
    width: 100px;
    margin-top: 10px;
    font-family: serif;
    font-size: 17px;
}
.submit{
    width: 130px;
    height: 40px;
    font-size: 23px;
    margin-left: 190px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px 2px rgb(157, 51, 51);
    font-family: serif;
    font-weight: bold;
}
#errors{
    color: #d12511;
    text-align: center;
}
